@import "../../constants/utils.scss";

.container_CreateProfile {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    // border: 1px solid;
  }
}

.topBar {
  width: 354.33px;
  height: 20px;

  margin-top: 15px;
}

.logo {
  height: 20px;

  margin-top: 134px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.05em;

  color: $violet-4;
}

.wrapper_Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 58px;

  .profileImage {
    width: 200px;
    height: 200px;

    position: relative;

    border: 1px solid black;
    border-radius: 100%;

    margin-bottom: 10px;

    cursor: pointer;

    img {
      width: 100%;
      height: 100%;

      border-radius: 100%;
    }

    .editProfileImageButton {
      width: 2.5rem;
      height: 2.5rem;

      position: absolute;
      top: 70%;
      left: 80%;

      font-size: 90%;
      line-height: 2.5rem;
      color: white;

      background-color: black;

      border-radius: 100%;

      display: flex;
      justify-content: center;

      input {
        display: none;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;

    margin-bottom: 20px;

    button + button {
      margin-left: 10px;
    }
  }

  .wrapper_InputAndValidationMessage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .validationMessage {
      width: 280px;
      // align-self: start;

      height: 30px;

      line-height: 30px;

      color: #f16f6f;

      // margin-top: 5px;
      // margin-left: 50px;
    }

    .inputGuide {
      width: 280px;

      line-height: 30px;
    }
  }
}

.wrapper_buttons {
  margin-top: 52px;

  button + button {
    margin-top: 20px;
  }
}
