// @import "../../constants/utils.scss";

// .container_CreateProfile {
//   width: 100%;
//   height: 100vh;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   div {
//     // border: 1px solid;
//   }
// }

// .topBar {
//   width: 354.33px;
//   height: 20px;

//   margin-top: 15px;
// }

// .wrapper_header {
//   margin-top: 134px;
// }

// .wrapper_Inputs {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   margin-top: 58px;

//   .profileImage {
//     width: 200px;
//     height: 200px;

//     position: relative;

//     border: 1px solid black;
//     border-radius: 100%;

//     margin-bottom: 10px;

//     cursor: pointer;

//     img {
//       width: 100%;
//       height: 100%;

//       border-radius: 100%;
//     }

//     .editProfileImageButton {
//       width: 2.5rem;
//       height: 2.5rem;

//       position: absolute;
//       top: 70%;
//       left: 80%;

//       font-size: 90%;
//       line-height: 2.5rem;
//       color: white;

//       background-color: black;

//       border-radius: 100%;

//       display: flex;
//       justify-content: center;

//       input {
//         display: none;
//       }
//     }
//   }

//   .buttons {
//     display: flex;
//     justify-content: center;

//     margin-bottom: 20px;

//     button + button {
//       margin-left: 10px;
//     }
//   }

//   .wrapper_InputAndValidationMessage {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     .validationMessage {
//       width: 280px;

//       color: #f16f6f;

//       margin: 10px 0 10px 0;
//     }

//     .inputGuide {
//       width: 280px;

//       margin: 0 0 10px 0;
//     }
//   }
// }

// .wrapper_buttons {
//   margin-top: 30px;

//   button + button {
//     margin-top: 20px;
//   }
// }

@import "../../constants/utils.scss";

.container_CreateProfile {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    // border: 1px solid;
  }
}

.topBar {
  width: 22.13rem;
  height: 1.25rem;

  margin-top: 0.9375rem;
}

.wrapper_header {
  margin-top: 8.375rem;
}

.wrapper_Inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3.625rem;

  .profileImage {
    width: 12.5rem;
    height: 12.5rem;

    position: relative;

    border: 1px solid black;
    border-radius: 100%;

    margin-bottom: 0.625rem;

    cursor: pointer;

    img {
      width: 100%;
      height: 100%;

      border-radius: 100%;
    }

    .editProfileImageButton {
      width: 2.5rem;
      height: 2.5rem;

      position: absolute;
      top: 70%;
      left: 80%;

      font-size: 90%;
      line-height: 2.5rem;
      color: white;

      background-color: black;

      border-radius: 100%;

      display: flex;
      justify-content: center;

      input {
        display: none;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;

    margin-bottom: 1.25rem;

    button + button {
      margin-left: 0.625rem;
    }
  }

  .wrapper_InputAndValidationMessage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .validationMessage {
      width: 17.5rem;

      color: #f16f6f;

      margin: 0.625rem 0 0.625rem 0;
    }

    .inputGuide {
      width: 17.5rem;

      margin: 0 0 0.625rem 0;
    }
  }
}

.wrapper_buttons {
  margin-top: 1.875rem;

  button + button {
    margin-top: 1.25rem;
  }
}
