@import "../../constants/utils.scss";

.container_Login {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  .topBar {
    width: 354.33px;
    height: 20px;

    position: absolute;
    top: 15px;
  }

  .logo {
    width: 291px;
    height: 20px;

    position: absolute;
    top: 77px;
    left: 49.66px;

    margin: 77 49.66 0 49.66;

    font-family: "JetBrains Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.05em;

    color: $violet-4;
  }

  .wrapper_emailInput {
    position: absolute;
    top: 139px;
    left: 30.16px;
  }

  .wrapper_passwordInput {
    position: absolute;
    top: 241px;
    left: 30.16px;
  }

  .wrapper_loginButton {
    position: absolute;
    top: 343px;
    left: 30.16px;
  }

  .wrapper_registerLink {
    position: absolute;
    top: 445px;
    margin: 0 auto;
  }

  .wrapper_findPasswordLink {
    position: absolute;
    top: 507px;
    margin: 0 auto;
  }

  .wrapper_loginOptions {
    width: 264px;
    height: 66px;

    position: absolute;
    top: 569px;
    left: 63.16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .loginOption {
      width: 66px;
      height: 66px;

      display: flex;
      justify-self: center;
      align-items: center;
    }
  }
}
