@import "../../constants/utils.scss";

.container_Register {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    // border: 1px solid;
  }
}

.topBar {
  width: 354.33px;
  height: 20px;

  margin-top: 15px;
}

.wrapper_header {
  margin-top: 134px;
}

.wrapper_Inputs {
  margin-top: 58px;

  div + div {
    // margin-top: 20px;
  }

  .wrapper_InputAndValidationMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .validationMessage {
      width: 280px;

      color: #f16f6f;

      margin: 10px 0 10px 0;
    }

    .message {
      width: 280px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;

      color: #433a3a;

      margin-top: 15px;
      margin-bottom: 20px;
    }

    .inputGuide {
      width: 280px;

      margin: 0 0 10px 0;
    }
  }
}

.wrapper_submitButton {
  margin-top: 30px;
}
