@import "../../constants/utils.scss";

.wrapper {
  position: relative;

  .editButton {
    position: absolute;

    top: calc(3.75rem / 2 - 20px / 2);
    left: 17.5rem;

    width: 40px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    .indicator_image {
      width: 60%;
      height: 60%;
    }
  }
}
