@import "../../constants/utils.scss";
.UserInput {
  width: 20.625rem; /* 330px converted to rem */
  height: 3.75rem; /* 60px converted to rem */
  border-radius: 1.875rem; /* 30px converted to rem */
  display: flex;
  align-items: center;
  padding-left: 1.875rem; /* 30px converted to rem */
  font-size: 1.25rem; /* 20px converted to rem */
  border: 0.0625rem solid $border-color; /* 1px converted to rem */
}
