@import "../../constants/utils.scss";
.smallVioletButton {
  border-radius: 1.875rem; /* 30px converted to rem */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $violet-4;
  color: white;
  font-weight: bold;
  border: none;
  width: 4.375rem;
  height: 1.875rem;
  cursor: pointer;
}
