.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
}
.welcome {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}
.linkBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  .linkTitle {
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 3rem;
  }
  .linkImg {
    width: 20rem;
    height: auto;
  }
}
