@import "../../components/layout/mixins";

.reactModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
  padding: 1.25rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 312px; //390px * 80%
}

.reactModalOverlay {
  @include common-layout;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
