@import "../../constants/utils.scss";
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searchContainer {
  position: relative;
  display: inline-block;
  margin-top: 3.7rem;
}

.searchButton {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchButton::before {
  content: "";
  display: block;
  width: 1.43rem;
  height: 1.43rem;
  background-image: url("../../image/Vector.png");
  background-size: cover;
}
