@import "../../constants/utils.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userInfo {
  height: 6.25rem; /* 100px converted to rem */
  width: 100%;
  border-top: 0.0625rem solid $border-color; /* 1px converted to rem */
  border-bottom: 0.0625rem solid $border-color; /* 1px converted to rem */
  display: flex;
  align-items: center;
  justify-content: space-around;

  .profileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $border-color;
    width: 3.229375rem; /* 51.67px converted to rem */
    height: 3.229375rem; /* 51.67px converted to rem */
    border-radius: 50%;
  }

  button {
    background: none;
    border: none;
    border-radius: 50%;
    width: 3.125rem; /* 50px converted to rem */
    height: 3.125rem; /* 50px converted to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem; /* 50px converted to rem */
    &:hover {
      background: $border-color;
    }
  }
}

.gradeInfo {
  height: 6.25rem; /* 100px converted to rem */
  width: 100%;
  border-top: 0.0625rem solid $border-color; /* 1px converted to rem */
  border-bottom: 0.0625rem solid $border-color; /* 1px converted to rem */
  display: flex;
  align-items: center;
  justify-content: space-around;

  .gradeImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $border-color;
    width: 3.229375rem; /* 51.67px converted to rem */
    height: 3.229375rem; /* 51.67px converted to rem */
    border-radius: 50%;
  }

  button {
    background: none;
    border: none;
    border-radius: 50%;
    width: 3.125rem; /* 50px converted to rem */
    height: 3.125rem; /* 50px converted to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem; /* 50px converted to rem */
    &:hover {
      background: $border-color;
    }
  }
}

.menuContainer {
  display: grid;
  width: 100%;
  height: 17.5rem; /* 280px converted to rem */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;

  .menuContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.0625rem solid $border-color; /* 1px converted to rem */

    svg,
    path {
      font-size: 3.125rem; /* 50px converted to rem */
    }

    p {
      margin: 0.3125rem; /* 5px converted to rem */
      font-weight: bold;
    }
  }
}

.logout {
  text-align: right;
  margin-right: 0.3125rem; /* 5px converted to rem */
  font-weight: bold;
}

.gradeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.gradeBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0;
  width: 90%;
}

.gradeProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: $violet-4;
  border-radius: 50%;
  color: white;
  margin-right: 1rem;
  p {
    margin: 0;
  }
}

.gradeIcon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  font-size: 1.5rem;
  margin: 0;
  right: 1.5rem;
  position: absolute;
}
