$border-color: #c2bcca;
$violet-1: #e4d2fa;
$violet-2: #c79aff;
$violet-3: #a256ff;
$violet-4: #6700e6;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userInfo {
  height: 6.25rem; /* 100px converted to rem */
  width: 100%;
  border-top: 0.0625rem solid $border-color; /* 1px converted to rem */
  border-bottom: 0.0625rem solid $border-color; /* 1px converted to rem */
  display: flex;
  align-items: center;
  justify-content: space-around;

  .profileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $border-color;
    width: 3.229375rem; /* 51.67px converted to rem */
    height: 3.229375rem; /* 51.67px converted to rem */
    border-radius: 50%;
  }

  button {
    background: none;
    border: none;
    border-radius: 50%;
    width: 3.125rem; /* 50px converted to rem */
    height: 3.125rem; /* 50px converted to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem; /* 50px converted to rem */
    &:hover {
      background: $border-color;
    }
  }
}

.gradeInfo {
  height: 6.25rem; /* 100px converted to rem */
  width: 100%;
  border-top: 0.0625rem solid $border-color; /* 1px converted to rem */
  border-bottom: 0.0625rem solid $border-color; /* 1px converted to rem */
  display: flex;
  align-items: center;
  justify-content: space-around;

  .gradeImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $border-color;
    width: 3.229375rem; /* 51.67px converted to rem */
    height: 3.229375rem; /* 51.67px converted to rem */
    border-radius: 50%;
  }

  button {
    background: none;
    border: none;
    border-radius: 50%;
    width: 3.125rem; /* 50px converted to rem */
    height: 3.125rem; /* 50px converted to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem; /* 50px converted to rem */
    &:hover {
      background: $border-color;
    }
  }
}

.menuContainer {
  display: grid;
  width: 100%;
  height: 17.5rem; /* 280px converted to rem */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;

  .menuContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.0625rem solid $border-color; /* 1px converted to rem */

    svg,
    path {
      font-size: 3.125rem; /* 50px converted to rem */
    }

    p {
      margin: 0.3125rem; /* 5px converted to rem */
      font-weight: bold;
    }
  }
}

.logout {
  text-align: right;
  margin-right: 0.3125rem; /* 5px converted to rem */
}
