@import "../../constants/utils.scss";

* {
  box-sizing: border-box;
}

.modifyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  .pencilIcon {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 0.3125rem; /* 5px converted to rem */
    font-size: 1.875rem; /* 30px converted to rem */
    top: 0.625rem; /* 10px converted to rem */
    right: 7.5rem; /* 120px converted to rem */
    z-index: 1;

    &:hover {
      background-color: $border-color;
    }
  }

  .modifyImg {
    position: relative;
    width: 10.730625rem; /* 171.67px converted to rem */
    height: 10.730625rem; /* 171.67px converted to rem */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $border-color;
    border-radius: 50%;
    img {
      width: 100%;
    }
  }

  .inputBox {
    margin-top: 1.875rem; /* 30px converted to rem */
    margin-bottom: 0.9375rem; /* 15px converted to rem */
    height: 4.6875rem; /* 75px converted to rem */

    input {
      width: 20.625rem; /* 330px converted to rem */
      height: 3.75rem; /* 60px converted to rem */
      border-radius: 1.875rem; /* 30px converted to rem */
      display: flex;
      align-items: center;
      padding-left: 1.875rem; /* 30px converted to rem */
      font-size: 1.25rem; /* 20px converted to rem */
      border: 0.0625rem solid $border-color; /* 1px converted to rem */
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      color: red;
      margin-left: 1.875rem; /* 30px converted to rem */
      font-size: 0.9375rem; /* 15px converted to rem */
    }
  }

  button {
    width: 20.625rem; /* 330px converted to rem */
    height: 3.75rem; /* 60px converted to rem */
    border-radius: 1.875rem; /* 30px converted to rem */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $violet-4;
    color: white;
    font-size: 1.25rem; /* 20px converted to rem */
    border: none;
  }

  .btns {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 3.125rem; /* 50px converted to rem */

    p {
      margin-left: 1.25rem; /* 20px converted to rem */
      font-size: 0.9375rem; /* 15px converted to rem */
      color: $font-color;
      font-weight: bold;
    }
  }
}
