$border-color: #c2bcca;
$font-color: #3e3e3e;
$violet-1: #e4d2fa;
$violet-2: #c79aff;
$violet-3: #a256ff;
$violet-4: #6700e6;
* {
  box-sizing: border-box;
}
.pwdContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .pwdTitle {
    text-align: center;
    font-size: 30px;
    color: $violet-4;
    font-weight: bold;
  }
  .inputsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    #presentPwd {
      margin-bottom: 15px;
    }
    .inputBox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      input {
        width: 330px;
        height: 60px;
        border-radius: 30px;
        border: 1px solid $border-color;
        padding-left: 30px;
        font-size: 20px;
      }
      p {
        font-size: 15px;
        color: red;
        margin: 0 auto 0 50px;
      }
    }
  }
  button {
    width: 330px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $violet-4;
    color: white;
    font-size: 20px;
    border: none;
    margin: auto;
    margin-top: 40px;
  }
}
