$border-color: #c2bcca;
$font-color: #3e3e3e;
$violet-1: #e4d2fa;
$violet-2: #c79aff;
$violet-3: #a256ff;
$violet-4: #6700e6;

* {
  box-sizing: border-box;
}

.pwdContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .pwdTitle {
    text-align: center;
    font-size: 1.875rem; /* 30px converted to rem */
    color: $violet-4;
    font-weight: bold;
  }

  .inputsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .inputBox {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 4.6875rem; /* 75px converted to rem */

      input {
        width: 20.625rem; /* 330px converted to rem */
        height: 3.75rem; /* 60px converted to rem */
        border-radius: 1.875rem; /* 30px converted to rem */
        border: 0.0625rem solid $border-color; /* 1px converted to rem */
        padding: 0;
        padding-left: 1.875rem; /* 30px converted to rem */
        font-size: 1.25rem; /* 20px converted to rem */
      }

      p {
        font-size: 0.9375rem; /* 15px converted to rem */
        color: red;
        margin: 0 auto 0 3.125rem; /* 50px converted to rem */
      }
    }
  }
}
