@import '../mixins';

.header {
  @include common-layout;
  display: flex;
  position: fixed;
  width: 100%;
  // max-width: 390px; //width만을 통해 조절안되나 
  // flex: 0 0 auto;
  height: 3.75rem; /* 60px를 rem 단위로 변경 */
  left: 0;
  top: 0;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}
.header div {
  align-items: center;
  margin: 0 1.5625rem; /* 25px를 rem 단위로 변경 */
  color: #3e3e3e;
  font-size: 1.25rem; /* 20px를 rem 단위로 변경 */
  font-weight: 700;
}
.backIcon,
.settingsIcon {
  cursor: pointer;
}