@import '../mixins';

.Full {
  @include common-layout;
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: stretch;
}

.Inner {
  width: 100%;
  display: flex;
//   justify-content: center;
  position: relative;
  padding-top: 66px;
}
