.container {
  // background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searchContainer {
  position: relative;
  display: inline-block;
  margin-top: 3.7rem;
}

.inputField {
  width: 20.6rem;
  height: 3.75rem;
  border-radius: 2rem;
  border: 0.0625rem solid #c2bcca;
  outline: none;
  padding: 1.5rem;

  &::placeholder {
    // width: 100%;
    // height: 100%;
    // left: calc(50% - 7.6rem / 2 - 4.6rem);
    // top: calc(50% - 1.25rem / 2 - 15.24rem);
    left: calc(50% - 122px / 2 - 75px);
    // top: calc(50% - 20px / 2 - 243px);
    // color: #c2bcca;
    // font-family: "Inter";
    // font-style: normal;
    // font-weight: 400;
    // font-size: 1.25rem;
    line-height: 3.75rem; // 입력창과 같은 높이로 설정
    padding-top: 1.5rem; // 위쪽 padding
    padding-bottom: 0.5rem; // 아래쪽 padding
  }
}

.searchButton {
  position: absolute;
  top: 50%;
  right: 0.31rem;
  transform: translateY(-50%);
  padding: 0.375;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchButton::before {
  content: "";
  display: block;
  width: 1.43rem;
  height: 1.43rem;
  background-image: url("../../image/Vector.png");
  background-size: cover;
}

.menuContainer {
  width: 20.63rem;
  height: 2.13rem;
  display: flex;
  flex-direction: row;

  .categoryContainer {
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0rem;
      margin: 0.5rem;

      li {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 0.94rem;
        line-height: 1.25rem;
        margin-right: 1rem;
        color: #c2bcca;
      }
    }
  }

  .imageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 0.3rem;

    img {
      margin-right: 0.6rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.quizListContainer {
  display: flex;
  width: 20.63rem;
  margin-top: 1.9rem;
  // background-color: beige;
  flex-direction: column;

  .quizList {
    display: flex;
    width: 20.63rem;
    height: 3.13rem;
    border: 1px solid #c2bcca;
    padding: 0.96rem;
    padding-left: 1.2rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-bottom: 1rem;

    .quizListTitle {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.3rem;
      color: #3e3e3e;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .imageContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      margin-right: 0.3rem;

      img {
        margin-left: 0.6rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
