.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.searchContainer {
  position: relative;
  display: inline-block;
  margin-top: 3.7rem;
}

// .searchButton {
//   position: absolute;
//   top: 50%;
//   right: 1rem;
//   transform: translateY(-50%);
//   background-color: transparent;
//   border: none;
//   cursor: pointer;
// }

// .searchButton::before {
//   content: "";
//   display: block;
//   width: 1.43rem;
//   height: 1.43rem;
//   background-image: url("../../image/Vector.png");
//   background-size: cover;
// }

// .menuContainer {
//   width: 20.63rem;
//   height: 2.13rem;
//   display: flex;
//   flex-direction: row;

//   .categoryContainer {
//     ul {
//       display: flex;
//       flex-direction: row;
//       list-style: none;
//       padding: 0rem;
//       margin: 0.5rem;

//       li {
//         font-family: "Inter";
//         font-style: normal;
//         font-weight: 400;
//         font-size: 0.94rem;
//         line-height: 1.25rem;
//         margin-right: 1rem;
//         color: #c2bcca;
//       }
//     }
//   }

//   .imageContainer {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     margin-left: auto;
//     margin-right: 0.3rem;

//     img {
//       margin-right: 0.6rem;
//       width: 1.5rem;
//       height: 1.5rem;
//     }
//   }
// }

// .quizListContainer {
//   display: flex;
//   width: 20.63rem;
//   margin-top: 1.9rem;
//   // background-color: beige;
//   flex-direction: column;

//   .quizList {
//     display: flex;
//     width: 20.63rem;
//     height: 3.13rem;
//     border: 1px solid #c2bcca;
//     padding: 0.96rem;
//     padding-left: 1.2rem;
//     box-shadow: 0px 4px 4px 0px #00000040;
//     margin-bottom: 1rem;

//     .quizListTitle {
//       font-family: "Inter";
//       font-style: normal;
//       font-weight: 400;
//       font-size: 1rem;
//       line-height: 1.3rem;
//       color: #3e3e3e;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }

//     .imageContainer {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       margin-left: auto;
//       margin-right: 0.3rem;

//       img {
//         margin-left: 0.6rem;
//         width: 1.5rem;
//         height: 1.5rem;
//       }
//     }
//   }
// }
