.FullLogin {
  width: 100%;
  max-width: 390px;

  margin: 0 auto;
}

.InnerLogin {
  width: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid;

  div {
    border: 1px solid;
  }
}
