.Full {
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
}

.Inner {
  width: 100%;
  display: flex;
  background-color: aqua;
  position: relative;
  // padding-top: 5.5rem;
}
