.FullLogin {
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.InnerLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  // padding-top: 5.5rem;
}
