.menuContainer {
  width: 20.63rem;
  height: 2.13rem;
  display: flex;
  flex-direction: row;

  .categoryContainer {
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0rem;
      margin: 0.5rem;

      li {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 0.94rem;
        line-height: 1.25rem;
        margin-right: 1rem;
        color: #c2bcca;
        cursor: pointer;

        &.selected {
          color: #6700E6;
        }
      }
    }
  }
  .imageContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 0.3rem;

    .image {
      width: 0.94rem;
      height: 0.94rem;
      cursor: pointer;
    }
  }
}